Q1) Create one variable containing following type of data:
    (i) string
    (ii) list
    (iii) float
    (iv) tuple

In [22]:
# Answers 1

a="hello"
b=['hello world',25,"rohit",25.5,25.4j]
c=25.5
d=("rohit",25,"my world",25.5,25.4j)
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

Q2. Given are some following variables containing data:
    (i)var1=‘‘
    (ii) var2 = ‘[ DS , ML , Python]’
    (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
    (iv) var4 = 1.

What will be the data type of the above given variable.

In [23]:
# Answers 2

var1=''
var2 ='[DS,ML,Python]'
var3 =['DS','ML','Python']
var4 = 1.

print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [24]:
# Answers 3

a=20
b=3

# (i) "/" is used for division.
c=a/b
print(c)
# (ii) "%" is called Modulus and used for providing the remender.
d=a%b
print(d)
# (iii) "//" is called Floor Division and its Divides and returns the integer value and dumps the digits after the decimal.
e=a//b
print(e)
# (iv) "**" is called Exponentiation and used for Raises the first number to the power of the second.
f=a**b
print(f)

6.666666666666667
2
6
8000

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [25]:
# Answers 4 printing the list with the help of for loop.
list=["rohit","mohit","sameer",24.5,26.7,23,24.8j,'india','data science','pw']

for x in list:
    print(x)

rohit
mohit
sameer
24.5
26.7
23
24.8j
india
data science
pw

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [27]:
# Answers 5
A = int(input())
B = int(input())
while A%B==0:
    e=A//B
    print('A is purely divisible by number B and it can be divisible by',e,'times' )
    break
else:
    print("A is not purely divisible by number B")

 14
 6

A is not purely divisible by number B

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [21]:
rohit=[*range(1,26)]
print(rohit)
for i in rohit:
    if i%3==0:
        print(i, " is divible by 3")
    else:
        print(i, " is not divible by 3")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
1  is not divible by 3
2  is not divible by 3
3  is divible by 3
4  is not divible by 3
5  is not divible by 3
6  is divible by 3
7  is not divible by 3
8  is not divible by 3
9  is divible by 3
10  is not divible by 3
11  is not divible by 3
12  is divible by 3
13  is not divible by 3
14  is not divible by 3
15  is divible by 3
16  is not divible by 3
17  is not divible by 3
18  is divible by 3
19  is not divible by 3
20  is not divible by 3
21  is divible by 3
22  is not divible by 3
23  is not divible by 3
24  is divible by 3
25  is not divible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [30]:
# Answers7 
# in python we have both mutable and immutable collection data types. 
# Strings and tuples are immutable, while lists, dictionaries, and sets are mutable.
# In mutable data type we can edit the data but in immutable data type we cannot alter the data.
# Basically, mutable data types in Python are those whose value can be changed in place after they have been created.
# here are the some example :-

string="rohit"
tuples=("rohit",18,"mandal")
lists=["rohit",18,"mandal"]
dic={"name":"rohit","age":29}

# example to demonstrate list is a mutable data type in python
my_list = [1,2,3,4,5]

my_list.append(10)
print("List after appending a value = ",my_list)

my_list.extend([6,11,23])
print("List after extending a list = ",my_list)

my_list.remove(3)
# printing our list after the operation
print("List after removing a value = ",my_list)

<class 'tuple'>
List after appending a value =  [1, 2, 3, 4, 5, 10]
List after extending a list =  [1, 2, 3, 4, 5, 10, 6, 11, 23]
List after removing a value =  [1, 2, 4, 5, 10, 6, 11, 23]